.projetc-container{

    overflow: hidden;
}

.Projects-card{
    background-color: var(--second-color);
    
}

.Projects-card h3{
    color: var(--fourth-color);
    font-size: 3rem;
    text-align: center;
}

.Projects-card p{
   
    font-size: 1.2rem;
}

.Projects-card .img-project{
    display: block;
    margin: auto;
}

.Projects-card-right{
    border-top-right-radius: 12rem;
    border-bottom-right-radius: 12rem;
}

.Projects-card-left{
    border-top-left-radius: 12rem;
    border-bottom-left-radius: 12rem;
    
}

.Projetc-iconos{
    justify-content: center;
    display: flex;
    position: relative;
    margin-top: 2rem;
}

.Projetc-iconos div{
    transition: 1s;
    cursor: pointer;
    margin: 0rem 1rem;

    position: relative;
    display: inline-block;
}

.Projetc-iconos .link-project{
    font-size: 1.8rem;
    text-decoration: none;
    color: var(--sixth-color);
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.Projetc-iconos .link-project:hover{
    color: var(--fourth-color);
    /* animation: beat 2s infinite; */
    font-size: 2rem;
    border-radius: 10px;
}

.link-project i{
    margin: auto
}


.link-project span{
    visibility: hidden;
    transition: 0.8s;
    font-size: 0.8rem;
    margin-right: 0.5rem;
}

.link-project:hover span{
    visibility: visible;
}


.img-project{
    width: 70%;
}


@media (max-width: 767px) {
    .card-project{
        display: flex !important;
        flex-direction: column !important;
    }

    .Projects-card-right{
        border-top-right-radius: 5rem;
        border-bottom-right-radius: 5rem;
    }

    .Projects-card-left{
        border-top-left-radius: 5rem;
        border-bottom-left-radius: 5rem;
    }

    
}

.row-technologies{
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin-bottom: 5rem;
}

.technologies{
    border: 0.1rem solid var(--fifth-color);
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.5rem;
    color: var(--fifth-color);
    font-size: 0.8rem;
    box-shadow:  5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    font-weight: bold;
    transition: 1s
}

.technologies:hover{
    border-color: var( --fourth-color);
    color: var( --fourth-color);
}

