.Skills-div{
    border-radius: 5.2rem;
    background: var(--second-color);
    padding: 2rem 0rem;
}

.row-slider{
    height: 10rem;
    margin-bottom: 3rem;
}

.item-skill{
    position: relative;
    display: flex;
    align-items: center;
}

.Icon-Skill{
    position: absolute;
    min-width: 20%;
    max-height: 70%;
    max-width:70% !important;
    display: block;
    filter: grayscale(100%);
    transition: 1s;
    cursor: pointer;
}

.Icon-Skill:hover{
    filter: grayscale(0%);
}



@media (max-width: 767px) {
    .Icon-Skill{
        max-width: 80% !important ;
    }
}

.carousel-control-prev,
.carousel-control-next {
  display: none !important; /* Oculta las flechas */
}


.Skills-div .carousel-indicators{
    bottom: 0rem !important;
}

.carousel-indicators{
    bottom: -3rem !important;

}

.carousel-indicators button {
    border-radius: 50%;/* Cambia la forma a un círculo */
    width: 1rem !important; /* Ajusta el tamaño horizontalmente */
    height: 1rem !important; /* Ajusta el tamaño verticalmente */
    background-color: var(--seventh-color); /* Cambia el color del indicador inactivo */

  }
  
  .carousel-indicators .active {
    background-color: var(--fifth-color); /* Cambia el color del indicador activo */
  }

  
  
  
  
  