.Skills-div{
    border-radius: 5.2rem;
    background: var(--second-color);
    padding: 2rem 0rem;
}

.row-slider{
    height: 10rem;
    margin-bottom: 3rem;
}

.item-skill{
    position: relative;
    display: flex;
    align-items: center;
}

.Icon-Skill{
    position: absolute;
    min-width: 20%;
    max-height: 100%;
    max-width:70% !important;
    display: block;
    filter: grayscale(100%);
    transition: 1s;
    cursor: pointer;
}

.Icon-Skill:hover{
    filter: grayscale(0%);
}



@media (max-width: 767px) {
    .Icon-Skill{
        max-width: 25% !important ;
    }
}

