.Form-contact label{
    color: var(--fifth-color) !important;
}

.Form-contact input, .Form-contact textarea{
    background: transparent;
    border:none;
    border-radius: 0px;
    border-bottom: var(--fifth-color) 1px solid;
    color: var(--fifth-color);
}

.Form-contact textarea{
    min-height: 100px !important;
}

.input-invalid input, .input-invalid textarea{
    border-bottom: red 1px solid !important;
}

.input-invalid span {
    color: red;
    font-weight: bold;
}



.Form-contact input:focus, .Form-contact textarea:focus{
    background-color: transparent;
    border-bottom: 2px solid #ffffff;
    box-shadow: 0px 10px 2px rgba(var(--rgb-fifth-color), 0.1);
    color: var(--fifth-color);
}

.Contact-btn{
    font-size: 1.5rem;
    
}

.sendMessage{
    color: var(--fourth-color);
    font-size: 1.5rem;
    animation: heartBeat 1s ease-in-out;
}

.sendMessage span{
    animation: heartBeat 0.8s ease-in-out;
}

.sendMessage svg{
    margin-right: 1rem;
    animation: heartBeat 1s ease-in-out;
    transition: 1s;
}

@keyframes heartBeat {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.6);
    }
    100% {
      transform: scale(1);
    }
  }

  @keyframes fadeInUp {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
  }