

.Skills-div{
    border-radius: 5.2rem;
    background: var(--second-color);
    padding: 2rem 0rem;
}

.row-slider{
    height: 10rem;
    margin-bottom: 3rem;
}

.item-certificate{
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    /* background: green; */
    position: relative;
}

.Icon-certificate{
    position: absolute;
    height: 80%;
    max-width:70% !important;
    display: block;
    filter: grayscale(100%);
    transition: 1s;
    cursor: pointer;
    /* background-color: black; */
}

.title-certificate{
    position: absolute;
    bottom: 0;
    background-color: red;
    font-size: 1rem;
    text-align: center;
}

.Icon-certificate:hover{
    filter: grayscale(0%);
}



@media (max-width: 767px) {
    .Icon-certificate{
        max-width: 80% !important ;
    }
}

